name: Build and Deploy Code

on: 
  push:
    branches: 
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build: 
    environment: testing
    env: 
      DB_PWD: ${{secrets.DB_PWD}}
      DB_USER: ${{secrets.DB_USER}}
      DB_HOST: ${{secrets.DB_HOST}}
      DB_NAME: ${{secrets.DB_NAME}}
      SECRET_KEY: ${{secrets.SECRET_KEY}}
      ALGORITHM: ${{secrets.ALGORITHM}}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{secrets.ACCESS_TOKEN_EXPIRE_MINUTES}} 
      DB_URL: ${{secrets.DB_URL}}
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:  
          POSTGRES_PASSWORD: ${{secrets.DB_PWD}}
          POSTGRES_DB: ${{secrets.DB_NAME}}_test
        ports: 
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: pulling git repo
        uses: actions/checkout@v5

      - name: Install python version 3.12
        uses: actions/setup-python@v6
        with: 
          python-version: "3.12"

      - name: update pip
        run: python -m pip install --upgrade pip

      - name: install all dependencies
        run: pip install -r requirements.txt

      - name: test with pytest
        run: |
          pip install pytest
          pytest 

      # - name: Extract Docker image metadata
      #   id: meta
      #   uses: docker/metadata-action@v5
      #   with:
      #     images: ${{ secrets.DOCKER_USERNAME }}/fastapi

      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3
      
      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v6
      #   with:
      #     push: true
      #     context: ./
      #     file: ./Dockerfile
      #     tags: ${{ steps.meta.outputs.tags }}

  deploy: 
    runs-on: ubuntu-latest
    needs: [build]
    environment: production
    steps:
      - name: Pulling git repo
        uses: actions/checkout@v5

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" | base64 -d > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
        
      - name: Deploy to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa $EC2_USER@$EC2_HOST << 'EOF'
            cd ~/app || exit 1
            source venv/bin/activate
            cd fastapi
            git pull origin main
            pip install -r requirements.txt
            sudo systemctl restart fastapi