name: Build and Deploy Code

on: 
  push:
    branches: 
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  job1: 
    environment: testing
    env: 
      DB_PWD: ${{secrets.DB_PWD}}
      DB_USER: ${{secrets.DB_USER}}
      DB_HOST: ${{secrets.DB_HOST}}
      DB_NAME: ${{secrets.DB_NAME}}
      SECRET_KEY: ${{secrets.SECRET_KEY}}
      ALGORITHM: ${{secrets.ALGORITHM}}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{secrets.ACCESS_TOKEN_EXPIRE_MINUTES}} 
      DB_URL: ${{secrets.DB_URL}}
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:  
          POSTGRES_PASSWORD: ${{secrets.DB_PWD}}
          POSTGRES_DB: ${{secrets.DB_NAME}}_test
        ports: 
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: pulling git repo
        uses: actions/checkout@v5
      - name: Install python version 3.12
        uses: actions/setup-python@v6
        with: 
          python-version: "3.12"
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install all dependencies
        run: pip install -r requirements.txt
      - name: test with pytest
        run: |
          pip install pytest
          pytest 
